.itemWrapper {
  border: 1px solid rgba(0, 0, 0, 0.065);
  margin-top: -1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s ease;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.049);
  }
}

.plusAmount {
  color: rgb(37, 123, 159);
  font-weight: 500;
  font-size: 14px;
}

.minusAmount {
  color: rgb(132, 0, 0);
  font-weight: 500;
  font-size: 14px;
}

.label {
  font-size: 13px;
  color: rgb(167, 167, 167);
}

.date {
  font-size: 14px;
}

.title {
  font-weight: bold;
  font-size: 15px;
}
