.collapsed {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.link {
  padding: 10px 0;
  margin: 5px 0;
  width: 100%;
  color: white !important;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
    background-color: rgba(255, 255, 255, 0.075);
  }
}

.heading {
  font-weight: 500;
  font-size: 14px;
}

.active {
  background-color: rgba(255, 255, 255, 0.178);
  font-weight: 600;
  &:hover {
    background-color: rgba(255, 255, 255, 0.178);
  }
}

.line {
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.527);
}

.iconExpanded {
  margin: 0 10px;
  font-size: 20px;
}

.iconCollapsed {
  margin: 0;
  font-size: 20px;
}
