.itemWrapper {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.065);
  margin-top: -1px;
}

.percentage {
}

.label {
  margin: 0 !important;
}

.sum {
}

.fullHeight {
  height: 100%;
}

.tabPanel {
  height: 100%;
  width: 100%;
}

.cardBody {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
